* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #main {
  width: 100%;
  height: 100%;
  font-family: monospace;
  color:white;

}
#page2 h1{
 font-size: 35vw;
 white-space: nowrap;
 margin-left: 50px;
 text-transform: uppercase;
 padding-left: 20px;

 
}

#page1{
  height:100%;
  width: 100%;
  background-color: rgba(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  gap: 20px;


}

#page1 p{
  font-size: 100px;

}
#page1 h1{
  font-size: 100px;

}

#page2{
  height:100%;
  width: 100%;
  background-color: #2c3e50;
  overflow-x: hidden;
 
}

#page3{
  height:100%;
  width: 100%;
  background: linear-gradient(180deg, #0072ff, #000000);
  display: flex;
  flex-direction:column ;
  justify-content: center;
  gap: 10px;
}

#page3 #box1{
  width: 200px;
  height: 200px;
  background-color: crimson;
}
#page3 #box2{
  width: 200px;
  height: 200px;
  background-color: yellow;
}
#page3 #box3{
  width: 200px;
  height: 200px;
  background-color: green;
}


#page4{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #fbc2eb 0%, #a6c1ee 100%);
  display: flex;
  align-items: center;
}

#page4 #box{
  background-color: teal;
  width: 200px;
  height: 200px;

}

#page5{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #141e30 0%, #243b55 100%);
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow-x: hidden;

}


#page5 h1{
  color: transparent;
  font-size: 300px;
  padding-left: 30px;
  -webkit-text-stroke: 2px white;
}

#page6{
  width: 100%;
  height: 100%;
  background-color: #000000;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

}


#page7{
  width: 100%;
  height: 100%;
  background-color: white;
  text-align: center;
  color: #000000;
  cursor: pointer;
}


#cursor{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  position: absolute;  
}


#page8{
  width: 100%;
  height: 100%;
  background-image: url(https://images.unsplash.com/photo-1661705969607-cde73828023d?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  
  
}

#page8 #hero{
  position: absolute;
  color: transparent;
  font-size: 5vw;
  -webkit-text-stroke: white 1px;
  top: 20%;
  left: 30%;
  
  
 
}

#nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 50px;
  color: white;
}

#nav i{

  font-size: 30px;
  font-weight: 800;
  cursor: pointer;

}

#nav h2{
  font-size: 30px;
  text-transform: uppercase;
}

#full{
  height: 100%;
  width: 40%;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(130, 127, 127, 0.85) 0%,
    rgba(0, 0, 20, 0.7) 40%,
    rgba(4, 75, 145, 0.6) 100%
  );
  top: 0;
  right: -40%;
  color: white;
  backdrop-filter:blur(10px) ;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  z-index: 100;
  
}

#full h4{
  padding: 10px 50px;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 0;
  
  

}

#full i{
  position: absolute;
  top: 5%;
  right: 10%;
  color: black;
  background-color: #ffffffbd;
  padding: 5px;
  border-radius: 50%;
  font-weight: 800;
  font-size: 30px;
  cursor: pointer;
}



